<div class="jumbotron" >
  <h1>Welcome to the site  </h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce egestas quis velit nec semper. Proin et velit nec sapien facilisis varius sit amet nec neque. Phasellus ornare, odio eu suscipit hendrerhellooooooooooooooooooooooit, orci tortor dapibus neque, at sollicitudin tortor sapien vitae ipsum. Nulla placerat aliquam felis, vel ultricies mauris tincidunt id. Nam dapibus turpis arcu, vel bibendum mauris commodo in.</p>
  <p>
    <%= link_to "Sign up", signup_path, class:"btn btn-primary btn-lg" %>
  </p>
</div>